<p>
  authorize works!
</p>
The data passed from parent: {{passed}}
<br />
<br />
<input type="text" [(ngModel)]="textBoxVal"/>
<input type="button" (click)="checkNow()" value="Check"/>

<div *ngIf = "checkBool else nextload" >
<div>Hi this is Priyanka</div>
</div>

<ng-template #nextload>
<p appHighlightDanger>Hi this is {{textBoxVal}}</p>
  
</ng-template>


<div *ngFor="let x of names, let i = index">
  {{i | currency:'INR'}} -- {{x | uppercase}}
</div>
<div [class.backgrd]="checkBool">
<ul *ngFor="let x of names">

  <li>{{x}}</li>

</ul>
</div>

{{displayMessage | strFormat:'*-*-*'}}
