<h3>This is a test component</h3>
<p>The value from child is:  {{childValue}}</p>

{{name}}


    <input type="button" value="click Me" (click)="clickme()"/>
    <br /> You clicked :  {{clicks}} times

    <input type="button" value="5x"  (click)="clickme5x()"/>
    {{clicks5x}}
    <br /> {{'Message: ' + GetSample()}}
    <br /> {{20*5 + 10}} <br />
    <input type="text" [(ngModel)]= "owner" />
    <input type="button" (click)="toggleMe()" value= "toggle View" />
    <div *ngIf ="showText">
        <br /> The owner value from Class:  {{owner}}
    </div>


<div style="border:solid">
    <app-authorize [passed]="owner" (checkerCLicked)='onChildChecked($event)'></app-authorize>
</div>
